<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

<body>
  
  <div class="row">
    <div class="card">
      <div class = "card-body">
        <h1 class="card-title">Mission to Mars</h1>
        <a href="http://127.0.0.1:5000/scrape" class="btn btn-primary">Scrape new data</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class ="card-header"><h3>{{mars.news_title}}</h3></div>
        <div class = "card-body">
          <p class="card-text">{{mars.news_paragraph}} </p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div  class = "card-header"><h3>Featured Mars Image</h3></div> 
        <img src="{{mars.mars_img}}" class="card-img-top" alt="mars image">
      </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div  class = "card-header"><h3>Mars Data</h3></div> 
          {{mars.mars_facts|safe}}
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div  class = "card-header"><h3>{{mars.mars_hemispheres[0].title}}</h3></div> 
        <img src="{{mars.mars_hemispheres[0].img_url}}" class="img-fluid" alt="mars image">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div  class = "card-header"><h3>{{mars.mars_hemispheres[1].title}}</h3></div> 
        <img src="{{mars.mars_hemispheres[1].img_url}}" class="img-fluid" alt="mars image">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div  class = "card-header"><h3>{{mars.mars_hemispheres[2].title}}</h3></div> 
        <img src="{{mars.mars_hemispheres[2].img_url}}" class="img-fluid" alt="mars image">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div  class = "card-header"><h3>{{mars.mars_hemispheres[3].title}}</h3></div> 
        <img src="{{mars.mars_hemispheres[3].img_url}}" class="img-fluid" alt="mars image">
      </div>
    </div> 
  </div>
    
    </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

    </body>
</html>